@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a, button {
  cursor: revert;
}

ol, ul, menu, summary {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

::-webkit-details-marker {
  display: none;
}

/*
End of _reset.scss
*/
.mt-0 {
  margin-top: 0 !important;
}

.mt-sm {
  margin-top: 0.5rem !important;
}

.mt-md {
  margin-top: 1rem !important;
}

.mt-lg {
  margin-top: 1.5rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-sm {
  margin-bottom: 0.5rem !important;
}

.mb-md {
  margin-bottom: 1rem !important;
}

.mb-lg {
  margin-bottom: 1.5rem !important;
}

.ms-0 {
  margin-left: 0 !important;
}

.ms-sm {
  margin-left: 0.5rem !important;
}

.ms-md {
  margin-left: 1rem !important;
}

.ms-lg {
  margin-left: 1.5rem !important;
}

.me-0 {
  margin-right: 0 !important;
}

.me-sm {
  margin-right: 0.5rem !important;
}

.me-md {
  margin-right: 1rem !important;
}

.me-lg {
  margin-right: 1.5rem !important;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-sm {
  padding-top: 0.5rem !important;
}

.pt-md {
  padding-top: 1rem !important;
}

.pt-lg {
  padding-top: 1.5rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-sm {
  padding-bottom: 0.5rem !important;
}

.pb-md {
  padding-bottom: 1rem !important;
}

.pb-lg {
  padding-bottom: 1.5rem !important;
}

.ps-0 {
  padding-left: 0 !important;
}

.ps-sm {
  padding-left: 0.5rem !important;
}

.ps-md {
  padding-left: 1rem !important;
}

.ps-lg {
  padding-left: 1.5rem !important;
}

.pe-0 {
  padding-right: 0 !important;
}

.pe-sm {
  padding-right: 0.5rem !important;
}

.pe-md {
  padding-right: 1rem !important;
}

.pe-lg {
  padding-right: 1.5rem !important;
}

.border {
  border-width: 1.5px;
  border-style: solid;
}

.border-top {
  border-width: 1.5px;
  border-top-style: solid;
}

.border-right {
  border-width: 1.5px;
  border-right-style: solid;
}

.border-bottom {
  border-width: 1.5px;
  border-bottom-style: solid;
}

.border-left {
  border-width: 1.5px;
  border-left-style: solid;
}

.border-0 {
  border-style: none;
}

.border-top-0 {
  border-top-style: none;
}

.border-right-0 {
  border-right-style: none;
}

.border-bottom-0 {
  border-bottom-style: none;
}

.border-left-0 {
  border-left-style: none;
}

.border-default {
  border-color: #f1c05c;
}

.border-primary {
  border-color: #C54F00;
}

.border-secondary {
  border-color: #404040;
}

.border-white {
  border-color: white;
}

.rounded {
  border-radius: 6px;
}

.rounded-top-left {
  border-top-left-radius: 6px;
}

.rounded-top-right {
  border-top-right-radius: 6px;
}

.rounded-bottom-left {
  border-bottom-left-radius: 6px;
}

.rounded-bottom-right {
  border-bottom-right-radius: 6px;
}

.rounded-top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.rounded-right {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.rounded-bottom {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.rounded-left {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.rounded-0 {
  border-radius: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-stretch {
  align-self: stretch;
}

@media (min-width: 768px) {
  .d-md-flex {
    display: flex;
  }
  .d-md-inline-flex {
    display: inline-flex;
  }
  .flex-md-row {
    flex-direction: row;
  }
  .flex-md-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-md-column {
    flex-direction: column;
  }
  .flex-md-column-reverse {
    flex-direction: column-reverse;
  }
  .justify-content-md-start {
    justify-content: flex-start;
  }
  .justify-content-md-end {
    justify-content: flex-end;
  }
  .justify-content-md-center {
    justify-content: center;
  }
  .justify-content-md-between {
    justify-content: space-between;
  }
  .justify-content-md-around {
    justify-content: space-around;
  }
  .align-items-md-start {
    align-items: flex-start;
  }
  .align-items-md-end {
    align-items: flex-end;
  }
  .align-items-md-center {
    align-items: center;
  }
  .align-items-md-baseline {
    align-items: baseline;
  }
  .align-items-md-stretch {
    align-items: stretch;
  }
  .align-self-md-start {
    align-self: flex-start;
  }
  .align-self-md-end {
    align-self: flex-end;
  }
  .align-self-md-center {
    align-self: center;
  }
  .align-self-md-baseline {
    align-self: baseline;
  }
  .align-self-md-stretch {
    align-self: stretch;
  }
}
@media (min-width: 1200px) {
  .d-lg-flex {
    display: flex;
  }
  .d-lg-inline-flex {
    display: inline-flex;
  }
  .flex-lg-row {
    flex-direction: row;
  }
  .flex-lg-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-lg-column {
    flex-direction: column;
  }
  .flex-lg-column-reverse {
    flex-direction: column-reverse;
  }
  .justify-content-lg-start {
    justify-content: flex-start;
  }
  .justify-content-lg-end {
    justify-content: flex-end;
  }
  .justify-content-lg-center {
    justify-content: center;
  }
  .justify-content-lg-between {
    justify-content: space-between;
  }
  .justify-content-lg-around {
    justify-content: space-around;
  }
  .align-items-lg-start {
    align-items: flex-start;
  }
  .align-items-lg-end {
    align-items: flex-end;
  }
  .align-items-lg-center {
    align-items: center;
  }
  .align-items-lg-baseline {
    align-items: baseline;
  }
  .align-items-lg-stretch {
    align-items: stretch;
  }
  .align-self-lg-start {
    align-self: flex-start;
  }
  .align-self-lg-end {
    align-self: flex-end;
  }
  .align-self-lg-center {
    align-self: center;
  }
  .align-self-lg-baseline {
    align-self: baseline;
  }
  .align-self-lg-stretch {
    align-self: stretch;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid-gap-0 {
  grid-gap: 0;
}

.grid-gap-sm {
  grid-gap: 0.5rem;
}

.grid-gap-md {
  grid-gap: 1rem;
}

.grid-gap-lg {
  grid-gap: 1.5rem;
}

.col {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

@media (min-width: 768px) {
  .col-md {
    grid-column: span 1;
  }
  .col-md-2 {
    grid-column: span 2;
  }
  .col-md-3 {
    grid-column: span 3;
  }
  .col-md-4 {
    grid-column: span 4;
  }
  .col-md-5 {
    grid-column: span 5;
  }
  .col-md-6 {
    grid-column: span 6;
  }
  .col-md-7 {
    grid-column: span 7;
  }
  .col-md-8 {
    grid-column: span 8;
  }
  .col-md-9 {
    grid-column: span 9;
  }
  .col-md-10 {
    grid-column: span 10;
  }
  .col-md-11 {
    grid-column: span 11;
  }
  .col-md-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1200px) {
  .col-lg {
    grid-column: span 1;
  }
  .col-lg-2 {
    grid-column: span 2;
  }
  .col-lg-3 {
    grid-column: span 3;
  }
  .col-lg-4 {
    grid-column: span 4;
  }
  .col-lg-5 {
    grid-column: span 5;
  }
  .col-lg-6 {
    grid-column: span 6;
  }
  .col-lg-7 {
    grid-column: span 7;
  }
  .col-lg-8 {
    grid-column: span 8;
  }
  .col-lg-9 {
    grid-column: span 9;
  }
  .col-lg-10 {
    grid-column: span 10;
  }
  .col-lg-11 {
    grid-column: span 11;
  }
  .col-lg-12 {
    grid-column: span 12;
  }
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.blockquote {
  margin: 0 0 1rem;
  font-style: oblique;
}

.blockquote-footer {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.text-strong {
  font-weight: 700;
}

.bg-default {
  background-color: #f1c05c;
}

.bg-primary {
  background-color: #C54F00;
}

.bg-secondary {
  background-color: #404040;
}

.bg-default-light {
  background-color: #f9e4ba;
}

.bg-primary-light {
  background-color: #ff812c;
}

.bg-secondary-light {
  background-color: silver;
}

.shadow-sm {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18);
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 5px 20px 3px rgba(0, 0, 0, 0.17);
}

.shadow-lg {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18), 0 7px 20px 8px rgba(0, 0, 0, 0.17);
}

.table {
  display: table;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

@media (min-width: 768px) {
  .d-md-inline {
    display: inline;
  }
  .d-md-block {
    display: block;
  }
  .d-md-inline-block {
    display: inline-block;
  }
  .d-md-none {
    display: none;
  }
  .float-md-left {
    float: left;
  }
  .float-md-right {
    float: right;
  }
  .float-md-none {
    float: none;
  }
}
@media (min-width: 1200px) {
  .d-lg-inline {
    display: inline;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-inline-block {
    display: inline-block;
  }
  .d-lg-none {
    display: none;
  }
  .float-lg-left {
    float: left;
  }
  .float-lg-right {
    float: right;
  }
  .float-lg-none {
    float: none;
  }
}
.position-static {
  position: static;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}

input, textarea, select {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #f1c05c;
  padding: 0.3rem;
}

::-webkit-input-placeholder {
  opacity: 0.5;
  font-size: 0.8rem;
}

select {
  color: #C54F00;
  appearance: auto;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1.5rem !important;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem !important;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem !important;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem !important;
}

h5, h6 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem !important;
}

strong {
  font-weight: 700;
}

em {
  font-weight: 700;
  font-style: italic;
}

a {
  display: inline-block;
  text-decoration: underline;
  color: #C54F00;
}
a:hover {
  text-decoration: none;
}

.btn {
  border-radius: 6px;
  padding-top: 0.5rem !important;
  padding-right: 1rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 1rem !important;
  background-color: #f1c05c;
  color: #404040;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: #eba516;
}

.btn-primary {
  border-radius: 6px;
  padding-top: 0.5rem !important;
  padding-right: 1rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 1rem !important;
  background-color: #C54F00;
  color: #404040;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
  color: white;
}
.btn-primary:hover {
  background-color: #793000;
}

.btn-secondary {
  border-radius: 6px;
  padding-top: 0.5rem !important;
  padding-right: 1rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 1rem !important;
  background-color: #404040;
  color: #404040;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
  color: white;
}
.btn-secondary:hover {
  background-color: #1a1a1a;
}

button {
  border-radius: 6px;
  padding-top: 0.5rem !important;
  padding-right: 1rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 1rem !important;
  background-color: #f1c05c;
  color: #404040;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #eba516;
}

nav {
  padding: 0.5rem !important;
  margin: 0 auto;
  margin-bottom: 0 !important;
  list-style: none;
  text-align: center;
}

.nav {
  padding: 0.5rem !important;
  margin: 0 auto;
  margin-bottom: 0 !important;
  list-style: none;
  text-align: center;
}

.nav-item {
  display: inline;
  margin-right: 1rem;
}

.nav-link {
  text-decoration: none;
  color: #C54F00;
  padding: 0.5rem; /* Add padding for better spacing */
}
.nav-link:hover {
  text-decoration: underline;
  color: #404040;
}

.nav-pill {
  padding: 0.5rem 1rem;
  background-color: #C54F00;
  color: white;
  border-radius: 0.25rem;
}

tr {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

thead, th {
  font-weight: 700;
}

.table {
  display: table;
}

ul, ol, dl {
  display: block;
  margin-block-start: 0.5rem;
  margin-block-end: 1rem;
}

ul {
  list-style-type: square;
  padding-inline-start: 2rem;
}

ol {
  list-style-type: decimal;
  padding-inline-start: 2rem;
}

li {
  display: list-item;
  text-align: match-parent;
}

dl {
  padding-inline-start: 1rem;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
}

/*# sourceMappingURL=main.css.map */
