@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a, button {
  cursor: revert;
}

ol, ul, menu, summary {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

::-webkit-details-marker {
  display: none;
}

/*
End of _reset.scss
*/
.mt-0 {
  margin-top: 0 !important;
}

.mt-sm {
  margin-top: 0.5rem !important;
}

.mt-md {
  margin-top: 1rem !important;
}

.mt-lg {
  margin-top: 1.5rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-sm {
  margin-bottom: 0.5rem !important;
}

.mb-md {
  margin-bottom: 1rem !important;
}

.mb-lg {
  margin-bottom: 1.5rem !important;
}

.ms-0 {
  margin-left: 0 !important;
}

.ms-sm {
  margin-left: 0.5rem !important;
}

.ms-md {
  margin-left: 1rem !important;
}

.ms-lg {
  margin-left: 1.5rem !important;
}

.me-0 {
  margin-right: 0 !important;
}

.me-sm {
  margin-right: 0.5rem !important;
}

.me-md {
  margin-right: 1rem !important;
}

.me-lg {
  margin-right: 1.5rem !important;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-sm {
  padding-top: 0.5rem !important;
}

.pt-md {
  padding-top: 1rem !important;
}

.pt-lg {
  padding-top: 1.5rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-sm {
  padding-bottom: 0.5rem !important;
}

.pb-md {
  padding-bottom: 1rem !important;
}

.pb-lg {
  padding-bottom: 1.5rem !important;
}

.ps-0 {
  padding-left: 0 !important;
}

.ps-sm {
  padding-left: 0.5rem !important;
}

.ps-md {
  padding-left: 1rem !important;
}

.ps-lg {
  padding-left: 1.5rem !important;
}

.pe-0 {
  padding-right: 0 !important;
}

.pe-sm {
  padding-right: 0.5rem !important;
}

.pe-md {
  padding-right: 1rem !important;
}

.pe-lg {
  padding-right: 1.5rem !important;
}

.d-flex {
  display: flex;
}

@media (min-width: 576px) {
  .d-md-flex {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .d-lg-flex {
    display: flex;
  }
}

.d-inline-flex {
  display: inline-flex;
}

@media (min-width: 576px) {
  .d-md-inline-flex {
    display: inline-flex;
  }
}

@media (min-width: 1200px) {
  .d-lg-inline-flex {
    display: inline-flex;
  }
}

.flex-row {
  flex-direction: row;
}

@media (min-width: 576px) {
  .flex-md-row {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .flex-lg-row {
    flex-direction: row;
  }
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

@media (min-width: 576px) {
  .flex-md-row-reverse {
    flex-direction: row-reverse;
  }
}

@media (min-width: 1200px) {
  .flex-lg-row-reverse {
    flex-direction: row-reverse;
  }
}

.flex-column {
  flex-direction: column;
}

@media (min-width: 576px) {
  .flex-md-column {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .flex-lg-column {
    flex-direction: column;
  }
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

@media (min-width: 576px) {
  .flex-md-column-reverse {
    flex-direction: column-reverse;
  }
}

@media (min-width: 1200px) {
  .flex-lg-column-reverse {
    flex-direction: column-reverse;
  }
}

.justify-content-start {
  justify-content: flex-start;
}

@media (min-width: 576px) {
  .justify-content-md-start {
    justify-content: flex-start;
  }
}

@media (min-width: 1200px) {
  .justify-content-lg-start {
    justify-content: flex-start;
  }
}

.justify-content-end {
  justify-content: flex-end;
}

@media (min-width: 576px) {
  .justify-content-md-end {
    justify-content: flex-end;
  }
}

@media (min-width: 1200px) {
  .justify-content-lg-end {
    justify-content: flex-end;
  }
}

.justify-content-center {
  justify-content: center;
}

@media (min-width: 576px) {
  .justify-content-md-center {
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .justify-content-lg-center {
    justify-content: center;
  }
}

.justify-content-between {
  justify-content: space-between;
}

@media (min-width: 576px) {
  .justify-content-md-between {
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .justify-content-lg-between {
    justify-content: space-between;
  }
}

.justify-content-around {
  justify-content: space-around;
}

@media (min-width: 576px) {
  .justify-content-md-around {
    justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .justify-content-lg-around {
    justify-content: space-around;
  }
}

.align-items-start {
  align-items: flex-start;
}

@media (min-width: 576px) {
  .align-items-md-start {
    align-items: flex-start;
  }
}

@media (min-width: 1200px) {
  .align-items-lg-start {
    align-items: flex-start;
  }
}

.align-items-end {
  align-items: flex-end;
}

@media (min-width: 576px) {
  .align-items-md-end {
    align-items: flex-end;
  }
}

@media (min-width: 1200px) {
  .align-items-lg-end {
    align-items: flex-end;
  }
}

.align-items-center {
  align-items: center;
}

@media (min-width: 576px) {
  .align-items-md-center {
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .align-items-lg-center {
    align-items: center;
  }
}

.align-items-baseline {
  align-items: baseline;
}

@media (min-width: 576px) {
  .align-items-md-baseline {
    align-items: baseline;
  }
}

@media (min-width: 1200px) {
  .align-items-lg-baseline {
    align-items: baseline;
  }
}

.align-items-stretch {
  align-items: stretch;
}

@media (min-width: 576px) {
  .align-items-md-stretch {
    align-items: stretch;
  }
}

@media (min-width: 1200px) {
  .align-items-lg-stretch {
    align-items: stretch;
  }
}

.align-self-start {
  align-self: flex-start;
}

@media (min-width: 576px) {
  .align-self-md-start {
    align-self: flex-start;
  }
}

@media (min-width: 1200px) {
  .align-self-lg-start {
    align-self: flex-start;
  }
}

.align-self-end {
  align-self: flex-end;
}

@media (min-width: 576px) {
  .align-self-md-end {
    align-self: flex-end;
  }
}

@media (min-width: 1200px) {
  .align-self-lg-end {
    align-self: flex-end;
  }
}

.align-self-center {
  align-self: center;
}

@media (min-width: 576px) {
  .align-self-md-center {
    align-self: center;
  }
}

@media (min-width: 1200px) {
  .align-self-lg-center {
    align-self: center;
  }
}

.align-self-baseline {
  align-self: baseline;
}

@media (min-width: 576px) {
  .align-self-md-baseline {
    align-self: baseline;
  }
}

@media (min-width: 1200px) {
  .align-self-lg-baseline {
    align-self: baseline;
  }
}

.align-self-stretch {
  align-self: stretch;
}

@media (min-width: 576px) {
  .align-self-md-stretch {
    align-self: stretch;
  }
}

@media (min-width: 1200px) {
  .align-self-lg-stretch {
    align-self: stretch;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.blockquote {
  margin: 0 0 1rem;
  font-style: oblique;
}

.blockquote-footer {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.bg-default {
  background-color: #f1c05c;
}

.bg-primary {
  background-color: #C54F00;
}

.bg-secondary {
  background-color: #404040;
}

.bg-default-light {
  background-color: #f9e4ba;
}

.bg-primary-light {
  background-color: #ff812c;
}

.bg-secondary-light {
  background-color: #737373;
}

.text-strong {
  font-weight: 700;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1.5rem !important;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem !important;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem !important;
}

strong {
  font-weight: 700;
}

em {
  font-weight: 700;
  font-style: italic;
}

a {
  display: inline-block;
  text-decoration: underline;
  color: #C54F00;
}
a:hover {
  text-decoration: none;
}

.btn {
  border-radius: 6px;
  padding: 0.5rem !important 1.5rem !important 0.5rem !important 1.5rem !important;
  background-color: #f1c05c;
  color: #404040;
  font-weight: 600;
  min-height: 45px;
  min-width: 120px;
  text-decoration: none;
  line-height: 45px;
  text-align: center;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: #eba516;
}

.btn-primary {
  border-radius: 6px;
  padding: 0.5rem !important 1.5rem !important 0.5rem !important 1.5rem !important;
  background-color: #C54F00;
  color: #404040;
  font-weight: 600;
  min-height: 45px;
  min-width: 120px;
  text-decoration: none;
  line-height: 45px;
  text-align: center;
  transition: background-color 0.3s;
  color: white;
}
.btn-primary:hover {
  background-color: #793000;
}

button {
  border-radius: 6px;
  padding: 0.5rem !important 1.5rem !important 0.5rem !important 1.5rem !important;
  background-color: #f1c05c;
  color: #404040;
  font-weight: 600;
  min-height: 45px;
  min-width: 120px;
  text-decoration: none;
  line-height: 45px;
  text-align: center;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #eba516;
}

.nav {
  padding: 0.5rem !important;
  margin: 0 auto;
  margin-bottom: 0 !important;
  list-style: none;
  text-align: center;
}

.nav-item {
  display: inline;
  margin-right: 1rem;
}

.nav-link {
  text-decoration: none;
  color: #C54F00;
  padding: 0.5rem; /* Add padding for better spacing */
}
.nav-link:hover {
  text-decoration: underline;
  color: #404040;
}

.nav-pill {
  padding: 0.5rem 1rem;
  background-color: #C54F00;
  color: white;
  border-radius: 0.25rem;
}

/*# sourceMappingURL=main.css.map */
