// Base style for body
@use 'variables';
@use 'typography';
@use 'utilities';
@use 'styles';

body {
    font-family: variables.$font-stack;
    font-size: 100%;
}

// Headings
h1 {
    font-size: typography.$font-xxl;
    font-weight: typography.$font-extra-bold;
    margin-bottom: variables.$mb-3;
}

h2 {
    font-size: typography.$font-xl;
    font-weight: typography.$font-bold;
    margin-bottom: variables.$mb-2;
}

h3 {
    font-size: typography.$font-lg;
    font-weight: typography.$font-bold;
    margin-bottom: variables.$mb-2;
}

h4 {
    font-size: typography.$font-md;
    font-weight: typography.$font-bold;
    margin-bottom: variables.$mb-2;
}

h5, h6 {
    font-size: typography.$font-md;
    font-weight: typography.$font-semibold;
    margin-bottom: variables.$mb-2;
}

// Strong Text
strong {
    font-weight: typography.$font-bold;;
}

// Emphasized Text
em {
    font-weight: typography.$font-bold;
    font-style: italic;
}

// Links
a {
    display: inline-block;
    text-decoration: underline;
    color: variables.$primary-color;

    &:hover {
        text-decoration: none;
    }
}

// Button
.btn {
    @include styles.btn;
}

.btn-primary {
    @include styles.btn($bg-color: variables.$primary-color);
    color: variables.$white;
}

.btn-secondary {
    @include styles.btn($bg-color: variables.$secondary-color);
    color: variables.$white;
}

button {
    @include styles.btn;
}

//Navigation
nav, .nav {
    @include styles.nav;
}

.nav-item {
    @include styles.nav-item;
}

.nav-link {
    @include styles.nav-link;
}

.nav-pill {
    @include styles.nav-pill;
}

// Table
.table {
    display: table;
}

table, .table {
    margin: 5px 0 25px 0;
}

tr {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
} 

thead, th {
    font-weight: typography.$font-bold;
}

.table-dark {
    background-color: variables.$secondary-color;
    color: variables.$white;
}

.table-bordered {
    table, th, td {
        border: 1px solid lighten(variables.$secondary-color, 50%);
    }
}

.table-borderless {
    table, th, td {
        border: none;
    }
}

// List
ul, ol, dl {
    display: block;
    margin-block-start: .5rem;
    margin-block-end: 1rem;
}

ul {
    list-style-type: square;
    padding-inline-start: 2rem;
}

ol {
    list-style-type: decimal;
    padding-inline-start: 2rem;
}

li {
    display: list-item;
    text-align: match-parent;
}

dl {
    padding-inline-start: 1rem;
}

dt {
    font-weight: typography.$font-bold;
}

dd {
    margin-bottom: .5rem;
}

// Input, Textarea, and Select options
input, textarea, select {
    background-color: variables.$white;
    border-width: 1px;
    border-style: solid;
    border-color: variables.$default-color;
    padding: .3rem;
}

::-webkit-input-placeholder {
    opacity: .5;
    font-size: .8rem;
}

select {
    color: variables.$primary-color;
    appearance: auto;
}