@use 'variables';

// Button Styles
@mixin btn($bg-color: variables.$default-color) {
    border-radius: 6px;
    padding-top: variables.$pt-sm;
    padding-right: variables.$pe-md;
    padding-bottom: variables.$pb-sm;
    padding-left: variables.$ps-md;
    background-color: $bg-color;
    color: variables.$secondary-color;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken($bg-color, 15%);
    }
}

// Navigation 

@mixin nav {
    padding: variables.$pb-sm;
    margin: 0 auto;
    margin-bottom: variables.$mb-0;
    list-style: none;
    text-align: center;
}

@mixin nav-item {
    display: inline;
    margin-right: 1rem;
}

@mixin nav-link {
    text-decoration: none;
    color: variables.$primary-color;
    padding: 0.5rem; /* Add padding for better spacing */

    &:hover {
        text-decoration: underline;
        color: variables.$secondary-color;
    }
}

@mixin nav-pill {
    padding: 0.5rem 1rem;
    background-color: variables.$primary-color;
    color: variables.$white;
    border-radius: 0.25rem;
}