@use 'variables';

// Button Styles
@mixin btn($bg-color: variables.$default-color) {
    border-radius: 6px;
    padding-top: variables.$pt-1;
    padding-right: variables.$pe-2;
    padding-bottom: variables.$pb-1;
    padding-left: variables.$ps-2;
    background-color: $bg-color;
    color: variables.$secondary-color;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    margin-top: variables.$mt-1;
    margin-right: variables.$me-2;
    margin-bottom: variables.$mb-1;
    margin-left: variables.$ms-2;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken($bg-color, 15%);
    }
}

// Navigation 

@mixin nav {
    padding: variables.$pb-1;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

@mixin nav-item {
    display: inline;
    margin-right: variables.$me-2;
}

@mixin nav-link {
    text-decoration: none;
    color: variables.$primary-color;
    padding: variables.$ps-1; /* Add padding for better spacing */

    &:hover {
        text-decoration: underline;
        color: variables.$secondary-color;
    }
}

@mixin nav-pill {
    padding: 0.5rem 1rem;
    background-color: variables.$primary-color;
    color: variables.$white;
    border-radius: 0.25rem;
}