// Typography

// Weights
$font-light:300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-extra-bold: 800;

// Sizes
$font-sm: 1rem;
$font-md: 1.5rem;
$font-lg: 2rem;
$font-xl: 2.5rem;
$font-xxl: 3rem;
