@use 'variables';
@use 'typography';
@use 'media-queries';

// Margin
.mt-0 {
    margin-top: variables.$mt-0;
}

.mt-sm {
    margin-top: variables.$mt-sm;
}

.mt-md {
    margin-top: variables.$mt-md;
}

.mt-lg {
    margin-top: variables.$mt-lg;
}

.mb-0 {
    margin-bottom: variables.$mb-0;
}

.mb-sm {
    margin-bottom: variables.$mb-sm;
}

.mb-md {
    margin-bottom: variables.$mb-md;
}

.mb-lg {
    margin-bottom: variables.$mb-lg;
}

.ms-0 {
    margin-left: variables.$ms-0;
}

.ms-sm {
    margin-left: variables.$ms-sm;
}

.ms-md {
    margin-left: variables.$ms-md;
}

.ms-lg {
    margin-left: variables.$ms-lg;
}

.me-0 {
    margin-right: variables.$me-0;
}

.me-sm {
    margin-right: variables.$me-sm;
}

.me-md {
    margin-right: variables.$me-md;
}

.me-lg {
    margin-right: variables.$me-lg;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

// Padding
.pt-0 {
    padding-top: variables.$pt-0;
}

.pt-sm {
    padding-top: variables.$pt-sm;
}

.pt-md {
    padding-top: variables.$pt-md;
}

.pt-lg {
    padding-top: variables.$pt-lg;
}

.pb-0 {
    padding-bottom: variables.$pb-0;
}

.pb-sm {
    padding-bottom: variables.$pb-sm;
}

.pb-md {
    padding-bottom: variables.$pb-md;
}

.pb-lg {
    padding-bottom: variables.$pb-lg;
}

.ps-0 {
    padding-left: variables.$ps-0;
}

.ps-sm {
    padding-left: variables.$ps-sm;
}

.ps-md {
    padding-left: variables.$ps-md;
}

.ps-lg {
    padding-left: variables.$ps-lg;
}

.pe-0 {
    padding-right: variables.$pe-0;
}

.pe-sm {
    padding-right: variables.$pe-sm;
}

.pe-md {
    padding-right: variables.$pe-md;
}

.pe-lg {
    padding-right: variables.$pe-lg;
}

// ********** Borders **********
.border {
    border-width: 1.5px;
    border-style: solid;
}

.border-top {
    border-width: 1.5px;
    border-top-style: solid;
}

.border-right {
    border-width: 1.5px;
    border-right-style: solid;
}

.border-bottom {
    border-width: 1.5px;
    border-bottom-style: solid;
}

.border-left {
    border-width: 1.5px;
    border-left-style: solid;
}

.border-0 {
    border-style: none;
}

.border-top-0 {
    border-top-style: none;
}

.border-right-0 {
    border-right-style: none;
}

.border-bottom-0 {
    border-bottom-style: none;
}

.border-left-0 {
    border-left-style: none;
}

// Border Colors
.border-default {
    border-color: variables.$default-color;
}

.border-primary {
    border-color: variables.$primary-color;
}

.border-secondary {
    border-color: variables.$secondary-color;
}

.border-white {
    border-color: variables.$white;
}

// Border Radius
.rounded {
    border-radius: 6px;
}

.rounded-top-left {
    border-top-left-radius: 6px;
}

.rounded-top-right {
    border-top-right-radius: 6px;
}

.rounded-bottom-left {
    border-bottom-left-radius: 6px;
}

.rounded-bottom-right {
    border-bottom-right-radius: 6px;
}

.rounded-top {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.rounded-right {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.rounded-bottom {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.rounded-left {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.rounded-0 {
    border-radius: 0;
}

// ********** Flex **********
// Display Flex
.d-flex {
    display: flex;
}

.d-md-flex {
    @include media-queries.md-screen-size {
        display: flex;
    }
}

.d-lg-flex {
    @include media-queries.lg-screen-size {
        display: flex;
    }
}

.d-inline-flex {
    display: inline-flex;
}

.d-md-inline-flex {
    @include media-queries.md-screen-size {
        display: inline-flex;
    }
}

.d-lg-inline-flex {
    @include media-queries.lg-screen-size {
        display: inline-flex;
    }
}

// Flex Row
.flex-row {
    flex-direction: row;
}

.flex-md-row {
    @include media-queries.md-screen-size {
        flex-direction: row;
    }
}

.flex-lg-row {
    @include media-queries.lg-screen-size {
        flex-direction: row;
    }
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-md-row-reverse {
    @include media-queries.md-screen-size {
        flex-direction: row-reverse;
    }
}

.flex-lg-row-reverse {
    @include media-queries.lg-screen-size {
        flex-direction: row-reverse;
    }
}

// Flex Column
.flex-column {
    flex-direction: column;
}

.flex-md-column {
    @include media-queries.md-screen-size {
        flex-direction: column;
    }
}

.flex-lg-column {
    @include media-queries.lg-screen-size {
        flex-direction: column;
    }
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.flex-md-column-reverse {
    @include media-queries.md-screen-size {
        flex-direction: column-reverse;
    }
}

.flex-lg-column-reverse {
    @include media-queries.lg-screen-size {
        flex-direction: column-reverse;
    }
}

// Justify Content
.justify-content-start {
    justify-content: flex-start;
}

.justify-content-md-start {
    @include media-queries.md-screen-size {
        justify-content: flex-start;
    }
}

.justify-content-lg-start {
    @include media-queries.lg-screen-size {
        justify-content: flex-start;
    }
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-md-end {
    @include media-queries.md-screen-size {
        justify-content: flex-end;
    }
}

.justify-content-lg-end {
    @include media-queries.lg-screen-size {
        justify-content: flex-end;
    }
}

.justify-content-center {
    justify-content: center;
}

.justify-content-md-center {
    @include media-queries.md-screen-size {
        justify-content: center;
    }
}

.justify-content-lg-center {
    @include media-queries.lg-screen-size {
        justify-content: center;
    }
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-md-between {
    @include media-queries.md-screen-size {
        justify-content: space-between;
    }
}

.justify-content-lg-between {
    @include media-queries.lg-screen-size {
        justify-content: space-between;
    }
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-md-around {
    @include media-queries.md-screen-size {
        justify-content: space-around;
    }
}

.justify-content-lg-around {
    @include media-queries.lg-screen-size {
        justify-content: space-around;
    }
}

// Align Items
.align-items-start {
    align-items: flex-start;
}

.align-items-md-start {
    @include media-queries.md-screen-size {
        align-items: flex-start;
    }
}

.align-items-lg-start {
    @include media-queries.lg-screen-size {
        align-items: flex-start;
    }
}

.align-items-end {
    align-items: flex-end;
}

.align-items-md-end {
    @include media-queries.md-screen-size {
        align-items: flex-end;
    }
}

.align-items-lg-end {
    @include media-queries.lg-screen-size {
        align-items: flex-end;
    }
}

.align-items-center {
    align-items: center;
}

.align-items-md-center {
    @include media-queries.md-screen-size {
        align-items: center;
    }
}

.align-items-lg-center {
    @include media-queries.lg-screen-size {
        align-items: center;
    }
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-md-baseline {
    @include media-queries.md-screen-size {
        align-items: baseline;
    }
}

.align-items-lg-baseline {
    @include media-queries.lg-screen-size {
        align-items: baseline;
    }
}

.align-items-stretch {
    align-items: stretch;
}

.align-items-md-stretch {
    @include media-queries.md-screen-size {
        align-items: stretch;
    }
}

.align-items-lg-stretch {
    @include media-queries.lg-screen-size {
        align-items: stretch;
    }
}

// Align Self
.align-self-start {
    align-self: flex-start;
}

.align-self-md-start {
    @include media-queries.md-screen-size {
        align-self: flex-start;
    }
}

.align-self-lg-start {
    @include media-queries.lg-screen-size {
        align-self: flex-start;
    }
}

.align-self-end {
    align-self: flex-end;
}

.align-self-md-end {
    @include media-queries.md-screen-size {
        align-self: flex-end;
    }
}

.align-self-lg-end {
    @include media-queries.lg-screen-size {
        align-self: flex-end;
    }
}

.align-self-center {
    align-self: center;
}

.align-self-md-center {
    @include media-queries.md-screen-size {
        align-self: center;
    }
}

.align-self-lg-center {
    @include media-queries.lg-screen-size {
        align-self: center;
    }
}

.align-self-baseline {
    align-self: baseline;
}

.align-self-md-baseline {
    @include media-queries.md-screen-size {
        align-self: baseline;
    }
}

.align-self-lg-baseline {
    @include media-queries.lg-screen-size {
        align-self: baseline;
    }
}

.align-self-stretch {
    align-self: stretch;
}

.align-self-md-stretch {
    @include media-queries.md-screen-size {
        align-self: stretch;
    }
}

.align-self-lg-stretch {
    @include media-queries.lg-screen-size {
        align-self: stretch;
    }
}


// Text Alignment
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.blockquote {
    margin: 0 0 1rem;
    font-style: oblique;
}

.blockquote-footer {
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

// Strong
.text-strong {
    font-weight: typography.$font-bold;
}

// Background Colors
.bg-default {
    background-color: variables.$default-color;
}

.bg-primary {
    background-color: variables.$primary-color;
}

.bg-secondary {
    background-color: variables.$secondary-color;
}

.bg-default-light {
    background-color: lighten(variables.$default-color, 20%);
}

.bg-primary-light {
    background-color: lighten(variables.$primary-color, 20%);
}

.bg-secondary-light {
    background-color: lighten(variables.$secondary-color,50%);
}

// Box Shadow
.shadow-sm {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18);
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18) , 0 5px 20px 3px rgba(0, 0, 0, 0.17);
}

.shadow-lg {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18) , 0 7px 20px 8px rgba(0, 0, 0, 0.17);
}
