// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

$font-stack: 'Open Sans', sans-serif;

// Colours
$default-color: #f1c05c;
$primary-color: #C54F00;
$secondary-color: #404040;
$white: white;

// Margins
$mt-0: 0 !important;
$mt-sm: 0.5rem !important;
$mt-md: 1rem !important;
$mt-lg: 1.5rem !important;

$mb-0: 0 !important;
$mb-sm: 0.5rem !important;
$mb-md: 1rem !important;
$mb-lg: 1.5rem !important;

$ms-0: 0 !important;
$ms-sm: 0.5rem !important;
$ms-md: 1rem !important;
$ms-lg: 1.5rem !important;

$me-0: 0 !important;
$me-sm: 0.5rem !important;
$me-md: 1rem !important;
$me-lg: 1.5rem !important;

// Paddings
$pt-0: 0 !important;
$pt-sm: 0.5rem !important;
$pt-md: 1rem !important;
$pt-lg: 1.5rem !important;

$pb-0: 0 !important;
$pb-sm: 0.5rem !important;
$pb-md: 1rem !important;
$pb-lg: 1.5rem !important;

$ps-0: 0 !important;
$ps-sm: 0.5rem !important;
$ps-md: 1rem !important;
$ps-lg: 1.5rem !important;

$pe-0: 0 !important;
$pe-sm: 0.5rem !important;
$pe-md: 1rem !important;
$pe-lg: 1.5rem !important;



